@using WebMatrix.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WeddingDB.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";


    Validation.RequireField("Email","Please fill in an email");
    Validation.RequireField("Password","Please fill in a password");

    var Email = Request.Form["Email"];
    var Password = Request.Form["Password"];
    string Ice = "";

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            Database db = Database.OpenConnectionString(connectionString, provider);
            var CheckEmail = db.QuerySingle("SELECT Email FROM Account WHERE Email = (@0)", Email);
            var CheckPassword = db.QueryValue("SELECT Password FROM Account WHERE Email = (@0)", Email);

            if (CheckEmail!=null)
            {
                if (Crypto.VerifyHashedPassword(CheckPassword, Password))
                {
                    Session[""] = Request.Form["Email"];
                    Response.Redirect("~/List.cshtml");
                }

            }
            db.Close();
        }

    }


}
<!DOCTYPE html>
<html>
<head>
    <title>INDEX</title>
    <link rel="stylesheet" href="~/Stylez.css" type="text/css" />

    

    <style>

        form {
            width: 200px;
            margin: 0 auto;
        }

        
    </style>
</head>
<body>
    
    <div class="header">
        <h1>Bride Wish Inc</h1>
        <p>Make your wishes clear</p>
    </div>

    <!-- Navbar -->
    <div class="navbar">
        <a class="navbar-brand" href="~/Index.cshtml">Home</a>
        <a class="navbar-brand" href="~/Register.cshtml">Register</a>
        <a class="navbar-brand" href="~/List.cshtml">Wish List</a>
    </div>



    <div class="main">
        <form>


            <h1>Login</h1>
            <label>Email:</label>
            @Html.ValidationMessage("Email")<br />
            <input type="email" name="Email" class="form-control" placeholder="Email" value="@Request.Form["Email"]" /><br />
            <label>Password:</label>
            @Html.ValidationMessage("Password")<br />
            <input type="password" name="Password" class="form-control" placeholder="Password" value="@Request.Form["Password"]" /><br /><br />
            <input type="submit" value="Login" />
            <p> Or if you have already have a unique code </p>
            <label>Code</label>
            <input type="text" name="Code" /><br />
            <input type="submit" value="Go"/>

        </form>

        <p>@Html.Raw(Ice)</p>

    </div>
</body>
</html>
